OPENROUTER_API_KEY=sk-or-v1-your-openrouter-key

MONGODB_URI=mongodb+srv://itselfaman_db_user:Aman1122@cluster0.plyxvri.mongodb.net/astroagent?retryWrites=true&w=majority&appName=Cluster0

PORT=3001
NODE_ENV=development

VITE_API_URL=http://localhost:3001